html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
body{
    background: wheat;
    margin: 30px 50px;
    line-height: 1.4;
}
.btn{
    background: black;
    color: white;
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;

}
.container{
    display: grid;
    grid-gap: 20px 
}
.nav-menu ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    padding: 0;
    list-style: none;
 }
    .nav-menu a{
        background: white;
        display: block;
        text-decoration: none;
        padding: 0.8rem;
        text-align: center;
        color: black;
        text-transform: uppercase;
        font-size: 1.1rem ;
        box-shadow:2px 2px 2px white
    }
    .nav-menu a:hover{
        background: black;
        color: white;
    }
    .top-container{
        display: grid;
        grid-gap: 20px;
        grid-template-areas: 
        'showcase showcase top-box-a'
        'showcase showcase top-box-b';

    }

    .showcase{
        grid-area: showcase;
        min-height: 400px;
        background: url(p_1.webp);
        background-size: cover;
        background-position: center;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        box-shadow: 1px 1px 2px black;
    }
    .showcase h1{
        font-size: 4rem;
        margin-bottom: 0;
        color: white;
    }
    .showcase p{
        font-size: 1.4rem;
        margin-top: 0;
        color: white;
    }
    .top-box{
        background: white;
        display: grid;
        align-items: center;
        justify-items: center;
        box-shadow: 1px 1px 2px black;
        padding: 1.5rem;
    }
    .top-box .price{
        font-size: 2.4rem;
    }

    .top-box-a{
        grid-area: top-box-a;
    }

    .top-box-b{
        grid-area: top-box-b;
    }
    .boxes{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    }
    .box{
        background: white;
        box-shadow: 1px 1px 2px white;
        text-align: center;
        padding: 1.5rem 2rem;
    }
    .info{
        display: grid;
        background: white;
        box-shadow: 1px 1px 2x white;
        gap: 30px;
        padding: 3rem;
        grid-template-columns: repeat(2, 1fr);
    }
    .portfolio{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
        /* padding: 3rem; */
       
    }
    .portfolio img{
        width: 100%;
        box-shadow: 1px 1px 2px white;
    }
    .footer{
        margin-top: 2rem;
        background: black;
        color: white;
        text-align: center;
        padding: 1rem;
    }

